:root {
    --back-color: #ffffff;
    --color-1: #c5c5c5;
    --color-2: #838383;
    --color-3: #3b3b3b;
    --text-color: #000000;

    --text-font: Arial, Helvetica, sans-serif;
    --title-text-size: 2em;
    --main-text-size: 1.5em;
    --additional-text-size: 0.75em;
}



.page {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--main-text-size);
    margin: 0 100px;
    box-sizing: border-box;
    max-width: calc(100vw - 10%);
    font-family:Arial, Helvetica, sans-serif;
}

.page-height {
    height: 100vh;
}

.about-text {
    font-size: var(--main-text-size);
}

.additional-text {
    font-size: var(--additional-text-size);
}

.right-text {
    justify-content: flex-end;
    text-align: right;
}

.scroll-visibility {
    width: 35%;
}

.link{
    color: var(--color-1);
    text-decoration: none;
}