.contact-me-box {
    display: flex;
    flex-direction: column;
    bottom: -171px;
    position: fixed;
    width: 100vw;
    z-index: 900;
    overflow: hidden;
    color: white;
    transition: bottom 0.5s ease;
}

.contact-me-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: var(--color-2);
    padding: 5px 0;
    z-index: 900;
    border-bottom: solid 1px white;
}

.scrolling-text {
    white-space: nowrap;
    text-transform: uppercase;
    animation: animate 12s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.contact-me-content {
    height: 150px;
    background-color: var(--color-2);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 10%;
}

.opened {
    bottom: 0;
}

.contact-me-container.paused .scrolling-text {
    animation-play-state: paused;
}

.contact-me-title {
    margin: 10px 0px;
}

.contact-t {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.close-btn {
    background-color: transparent;
    border-style: none;
}

.links-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: var(--main-text-size);
}