.center {
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    color: black; // to delete
}

.bye-arrow-slot {
    margin-top: -3rem;

    @media (min-width: 992px) {
        margin-top: -5rem;
    }
}