.project-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
}

.project-content {
    background-color: gray;
    min-width: 500px;
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.project-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.project-content:hover img {
    transform: scale(1.1);
}


.line {
    width: 0;
    height: 200px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-circle {
    min-height: 20px;
    min-width: 20px;
    border: solid;
    border-radius: 50%;
    background: var(--back-color);
}

.project-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--additional-text-size);
}

.is-right {
    align-items: flex-end;
    text-align: end;
}

.pr-name {
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .project-container {
        flex-direction: column;
    }

    .line {
        display: none;
    }

    .is-right {
        text-align: start;
    }

    .project-content,
    .project-description {
        width: 100%;
        min-width: 0;
        height: auto;
    }

    .pr-name {
        flex-direction: row;
        align-items: center;
        gap: 20px;

        margin-top: -25px;
        z-index: 1000;
    }

    .pr-num {
        margin: 0;
        font-size: var(--big-title-font-size);
    }
}