.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    /* Adjusted: Flex-direction set to column */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun-container {
    height: 25%;
    // width: 20%;
    // background-color: red;
    
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;
    margin: 0 45%;
}

.about-character{
    z-index: 1;
    margin: 0 45%;
    width: 0;
}

.sun-container img {
    // width:100px;
    min-width: 100px;
    max-height: 100%;
}

.title {
    font-size: var(--big-title-font-size);
    margin: 0;
}

.cursor {
    background-color: black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
}

.parallax-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* Allow elements to take up available space */
}

.to-page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}


@media (max-width: 1048px) {
    .title{
        font-size: var(--big-title-font-size-resp-m);
    }
}

@media (max-width: 900px) {
    .title{
        font-size: var(--big-title-font-size-resp);
    }

    .arrow {
        height: 50px;
    }
}